<div class="itemcontainer">

 <div class="available">
  <h2> <%=@item.name %> </h2>
   
      <p> This <%= @item.name %> is <%= @item.status %>.  Please check back in a few days for availability.  
      </p>

    <%= link_to "Back to Share List!", items_path %>
    <%= link_to "Return this item", edit_item_path %>
    
  </div>
</div>




