<!-- I directly calling @item to access its fields --> 
<h1> <%=@item.name %> </h1>

<p> This <%= @item.name %> is <%= @item.status %> and ready for pick-up from your neighbor.
</p>

<!-- Addition link sending user back to the index view -->
<!-- The named route for an index view will always be controller name (plural) underscore path -->
<%= link_to "Back to Share List!", items_path %>
<%= link_to "Borrow this item", edit_item_path %>
<%= link_to "Return this item", edit_item_path %>